template(name='update')
  +thenavbar
  
  h1 Update #{AppName}

  if update
    +updateIssue
  
  +issuesTable

template(name='issuesTable')

    h3 已發現問題表
    //-
      h4 舊表
      +reactiveTable(collection=OldIssues fields=fields)
      h4 新表
    +reactiveTable(collection=Issues fields=fields)

template(name='updateIssue')
  h3 編輯條目
  .update
    +quickForm(collection="Issues" doc=trobject id="IssueUpdat" type='update' resetOnSuccess=false  omitFields="提交日期,提交者")
    //+quickForm(collection="Issues" doc=trobject id="IssueUpdat" type='update')
